canvas{
  border: 1px solid #234
}
body>section{
  display: inline-block;
  float:left;
}
body>section:nth-of-type(2){
  margin-left: .5em;
}
body>section:nth-of-type(2)>div{
  display: inline-flex;
}
footer{

}
