

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

body{
	margin:0 auto;
  min-width: 320px;
  max-width: 1200px;
}

body>nav{
	overflow: hidden;
}

	body>nav>ul{
		margin:0;
		padding: 0;
		width: 100%;
		height: 100%;
		list-style: none;

		overflow: hidden;
		max-height: 2em;
		transition: max-height 0.7s;

		text-transform: uppercase;
		background-color: #EEEEEE;
		

		
	}
		body>nav>ul>li:first-of-type>label{
			display: inline-block;
			font-size: 1.8em;
			font-weight: bold;
			margin-left: .2em;
			cursor: pointer;
			transform: rotate(-90deg);
			transition: transform 0.7s;
		}
		body>nav>ul>li>a, body>nav>ul>li>a:visited {
			display: block;
			font-weight: bold;
			text-decoration: none;
			padding: .4em 0 .4em .2em;
			text-align: center;

			text-decoration: none;
			color: #616161;

			-o-transition:2s;
		  	-ms-transition:2s;
		  	-moz-transition:2s;
		  	-webkit-transition:2s;
		  	transition:2s;
		}
		body>nav>ul>li>a:hover{
			color: #263238;
			background-color: #B0BEC5
		}
	#activador{
		display: none;
	}
	#activador:checked+nav>ul{
		max-height: 10em;
	}
		#activador:checked+nav>ul>li:first-of-type>label{

		transform: rotate(0deg);
		}


section{
	margin-bottom: 3em;
}

body>footer
{

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3em;
  background-color: #CFD8DC;
  text-align: center;

}

body>section>div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: .25em;
}

.card{

	background-color: #eee;
	overflow: hidden;
	margin: .25em;
	padding: 1em;
}

article.card{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

article.card a{
	text-decoration: none;
	color: #546E7A;

	transition: 0.6s;
}

article.card a:hover{
	color: #263238;
}

article.card>p{
	flex-grow: 1;
}

article.card>img{
	width: 100%;
}

article.card>footer{
    border-top: 1px dotted #234;
	width: 100%;
}
	article.card>footer>div>div{
		width: 50%;
		float: left;
	}

		article.card>footer>div>div>p{
			text-align: center;
		}

h1
{
	margin: 0 .5em;
	padding-top: 1em;
	color: #FFAB40;
	text-shadow: 0px 0px 10px #FFFFFF;
}

header>div
{
	display: flex;
	flex-direction: row;
	background-color: #FFCC80;
	
}

header>div>p
{
	background-color: #FFB74D;
	margin: 0;
	padding: 1em;
	text-align: center;
	color: #263238;
}

html *
{
	font-family: 'Roboto', sans-serif;
}

li>a>span:nth-of-type(1){
	margin-right: 0.2em;
}


/* Receta.html */

#receta>.card{
	margin-bottom: 3.5em; 
}
#receta>.card>div{
	width: 100%;
	overflow: hidden;

}
	#receta>.card>div>time{
		width: 50%;
		margin: 0 auto;
	}

	#receta>.card>div>img{
		width: 100%;
	}

	#receta>.card>div:nth-of-type(1)>p{
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #FFCC80;
		padding: .5em 1em 0.75em 1em;
	}
	#receta>.card>div>a{
		position: absolute;
		top: 50%;
		opacity: 0.5;
	}

	#receta>.card>div>a:nth-of-type(1){
		left: .5em;
		padding: 5em 2em;
		transform: translate(0, -50%);
	}

	#receta>.card>div>a:nth-of-type(2){
		right: .5em;
		padding: 5em 2em;
		transform: translate(0, -50%);
	}

	#receta>.card>div>a:hover{
		background-color: #B0BEC5;
	}
		#receta>.card>div:nth-of-type(2)>div:nth-of-type(1){
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
		}

/* Busqueda.html */
#container_busqueda{
	display: flex;
	flex-direction: column;
}
	
	#container_busqueda>div.card:nth-of-type(2){
		height: 3.5em;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

	}

	#container_busqueda>div.card:nth-of-type(2)>p{
		display: inline-block;
		font-size: .75em;
	}

	#container_busqueda>div.card:nth-of-type(2)>select{
		margin: 0 .5em;
	}

#busqueda{
	height: 3.5em;
	transition: height 0.3s;

}

#busqueda_ext{
	display: none;
}
	#busqueda>form>div{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
	#busqueda>form>div>input{
		width: 80%;
		height: 2em;
		float: left;
	}
	#busqueda>form>div>span,#busqueda>form>div>label:nth-of-type(1){
		display: inline-block;
		font-size: 1.14em;
	}
	#busqueda>form>div>label:nth-of-type(1){
		transform: rotate(0deg);
		transition: transform 0.5s;
	}
		#busqueda_ext:checked+div#busqueda.card:nth-of-type(1){
			height: 27em;
		}
		#busqueda_ext:checked+div.card>form>div>label:nth-of-type(1){
			transform: rotate(180deg);
			transition: transform 0.5s;
		}
	.tag{
		display: block;
		margin-top:2em;
	}

/* Login */
div#login.card{
	display: flex;
	flex-direction: column;
}
div#login.card>form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#login.card>form>input{
	margin-bottom: 1em;
}

div#login.card>form+div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}


/* Buttons */
.simple{
	padding: 1em 1.5em;
	border: none;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.simple:hover{
	background-color: #FFA726;
	border: 1px #FFE0B2;
}


@media all and (min-width: 480px){
	
	body>header>div{
		flex-direction: column;
	}

	body>nav{
		height: 3em;
	}
	body>nav>ul{
		display: table;
		max-height: 3em;
	}

	/* Transforma menu lateral en horizontal */
	body>nav>ul>li:first-of-type{
		display: none;
	}
	body>nav>ul>li{
		display: table-cell;
		margin: 0;
		height: 100%;
		vertical-align: middle;

	}
	body>nav>ul>li>a{
		height: 100%;
		padding-top: 1em;
		padding-bottom: 1em;
	}


	/* Receta.html */
	#receta>.card>div:nth-of-type(2){
		flex-direction: row;
	}

	/* Login */
	div#login.card{
		flex-direction: row;
		justify-content: space-around;
	}

	/* Busqueda */
	#container_busqueda>div.card:nth-of-type(2)>p{
		font-size: 1em;
	}
}

@media all and (min-width: 650px){
	
	body>section>div{
		flex-direction: row;
		flex-wrap: wrap;
	}
	body>section>div>article{
		width: 300px;
	}

	/* Receta.html */
	#receta>.card>div>img {
		max-width: 35em;
	}

	/* Busqueda.html */
	#container_busqueda{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;
	}
		
	div#container_busqueda>div.card{
		width: 48%;
		flex-grow: 1;
	}

	div#login.card{
		margin: 1em 10%;
	}


}

/* Receta grande */
@media all and (min-width: 720px){
	#receta>.card{
		flex-direction: row;
	}
	#receta>.card>div:nth-of-type(2)>div:nth-of-type(1){
		flex-direction: row;
		flex-wrap: 1;
	}
	#receta>.card>div:nth-of-type(1)>h3{
		display: inline-block;
	}
	#receta>.card>div:nth-of-type(1)>p{
		position: inherit;
		display: inline-block;
		margin-left: 1em;
		

		left: inherit;
		transform: inherit;
	}
}